<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div id="app">
        <div class="grid justify-items-center mt-10">
            <!-- <div v-if="errors" v-for="error in errors">
                <h1 class="text-red-300">{{error}}</h1>
            </div> -->
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex my-2 w-7/12">
                <div class="flex-col">
                    <img src="./images/Emeral_Lake.jpg" class="object-cover h-64 w-64 mr-9 flex justify-center">
                    <h3 class="mt-5 flex justify-center font-semibold">Your profile</h3>

                </div>
                <form @submit.prevent="checkForm" action="#" class="flex flex-col">
                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="firstname">
                                First Name
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3"
                                id="firstname" type="text" placeholder="Jane" v-model.trim.lazy="formsData.firstname">
                            <show-error :errors="errors" field="firstname"></show-error>
                        </div>
                        <div class="md:w-1/2 px-3">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="lastname">
                                Last Name
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                                id="lastname" type="text" placeholder="Doe" v-model.trim.lazy="formsData.lastname">
                            <show-error :errors="errors" field="lastname"></show-error>
                        </div>
                    </div>

                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="dob">
                                Date Of Birth
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3"
                                id="dob" type="date" placeholder="01/01/2020" v-model.trim.lazy="formsData.dob">
                            <show-error :errors="errors" field="dob"></show-error>
                        </div>
                        <div class="md:w-1/2 px-3">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="gender">
                                Gender
                            </label>
                            <select id="gender"
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                                v-model.trim.lazy="formsData.gender">
                                <option>Male</option>
                                <option>Female</option>
                                <!-- <option selected ></Select></option> -->
                            </select>
                            <show-error :errors="errors" field="gender"></show-error>
                        </div>
                    </div>

                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="address">
                                Address
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3"
                                id="address" type="text" placeholder="123 M.14 T.Klongjinda"
                                v-model.trim.lazy="formsData.address">
                            <show-error :errors="errors" field="address"></show-error>
                        </div>
                    </div>

                    <div class="-mx-3 md:flex mb-6">
                        <div class="md:w-full px-3">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="email">
                                email
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3"
                                id="email" type="text" placeholder="123@hotmail.com"
                                v-model.trim.lazy="formsData.email">
                            <show-error :errors="errors" field="email"></show-error>
                        </div>
                    </div>

                    <div class="-mx-3 md:flex mb-2">
                        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="city">
                                City
                            </label>
                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                                id="city" type="text" placeholder="Bangkok" v-model.trim.lazy="formsData.city">
                            <show-error :errors="errors" field="city"></show-error>
                        </div>
                        <div class="md:w-1/2 px-3">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="state">
                                State
                            </label>
                            <div class="relative">
                                <select
                                    class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded"
                                    id="state" v-model.trim.lazy="formsData.state">
                                    <option>Bangkok</option>
                                    <option>Chai-mai</option>
                                    <option>Bangmod</option>
                                    <option selected>-</option>
                                </select>
                                <show-error :errors="errors" field="state"></show-error>
                                <div
                                    class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                                </div>
                            </div>
                        </div>
                        <div class="md:w-1/2 px-3">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                                for="zip">
                                Zip
                            </label>

                            <input
                                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                                id="zip" type="text" placeholder="70000" v-model.trim.lazy="formsData.zip">
                            <show-error :errors="errors" field="zip"></show-error>
                        </div>
                    </div>
                    <input type="submit" value="Save" class="bg-green-500 text-white py-1 w-5/12 mt-5">
                </form>
            </div>
        </div>
    </div>


    <!-- my main.js -->
    <script src="./main.js"></script>
    <!-- <script>
        const moutedApp = app.mount('#app')
    </script> -->
</body>

</html>